# 若要使用的openai（兼容）模型服务的api key
OPENAI_API_KEY=xxxxxxxxxxxxxxxxxxx

# 若要使用的openai（兼容）模型服务地址
OPENAI_API_BASE=https://xxxxxxxxxxxxx/compatible-mode/v1

# 若要使用的dashscope模型服务的api key
DASHSCOPE_API_KEY=sk-xxxxxxxxxxxxxxxxx

# 若要使用的dashscope模型服务地址（海外为https://dashscope-intl.aliyuncs.com/compatible-mode/v1）
DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1

# 另外还支持的一些供应商：anthropic、openrouter、ollama，添加变量XXX_API_KEY/BASE即可

# sprite模型名称。格式必须为 {服务提供商}:{模型名称}
# sprite模型要求：必须支持工具调用、并行工具调用，最好能支持流式工具调用、tool_choice指定工具
# 这是sprite会使用的模型，是唯一的必填项
SPRITE_MODEL_NAME=dashscope:qwen3.6-plus

# sprite模型是否启用思考（对于如qwen3、deepseek-v3.2、mimo-v2-flash等混合思考模型）
SPRITE_MODEL_ENABLE_THINKING=true

# 以下三个模型是给其他插件使用的模型，按模型规模区分，具体为：max > plus > flash
# 这是可选的，能细粒化是最好，但不填也可以，会自动使用上一级模型（比如你是在本地部署模型，只方便部署一个模型）
# sprite一般来说约等于max，因为要追求最强的思考能力，但你也可以选择其他规模的模型

# max模型名称。格式必须为 {服务提供商}:{模型名称}
MAX_MODEL_NAME=dashscope:qwen3.6-plus

# plus模型名称。格式必须为 {服务提供商}:{模型名称}
PLUS_MODEL_NAME=dashscope:qwen3.6-plus

# flash模型名称。格式必须为 {服务提供商}:{模型名称}
FLASH_MODEL_NAME=dashscope:qwen3.6-flash


# 如果没有QIANFAN_API_KEY，会使用这个模型用作AI搜索。需要设置DASHSCOPE_API的KEY和BASE，只能使用其平台上支持enable_search的模型
DASHSCOPE_SEARCH_MODEL_NAME=qwen3.6-plus

# 若要使用传统百度搜索，请设置这个变量
QIANFAN_API_KEY=bce-xxxxxxxxxxxxxxxx


# 日志记录级别（默认INFO）
LOG_LEVEL=INFO


# main.py要访问的sprite_id
CLI_SPRITE_ID=default_sprite_1

# main.py的用户名
CLI_USER_NAME=User


# app.py的jwt编解码密钥
API_PRIVATE_KEY=simple_api

# app.py的端口
API_PORT=36262

# app.py的host
API_HOST=localhost


# LangSmith
LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
LANGSMITH_PROJECT="sprited"
